.SearchInput {
  height: 50px;
  width: 20rem;
  border-radius: 50px;
  background-color: #242424;
  display: flex;

  .search {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

    .search-icons {
      margin-left: 10px;
      color: white;
      width: 20px;
      height: 20px;
      width: 10%;
    }

    input {
      border-radius: 50px;
      font-size: 16px;
      background-color: #242424;
      border: none;
      height: 40px;
      left: 50px;
      height: 30px;
      outline: none;
      width: 80%;
      color: white;
      overflow: hidden;
    }
  }
}
