$main-bg-color: #121212;
$sub-bg-color: #121212;

$main-base-color: #000000;
$sub-base-color: #000000;

$main-font-color: white;
$sub-font-color: white;

$main-small-font-color: #a7a7a7;
$sub-small-font-color: #a7a7a7;

$main-button-color: #1ed760;
$sub-button-color: #1ed760;

$font-size: 1rem;
$small-size-font: 0.9rem;

$height: 100vh;
$width: 100vw;

$main-card-color: #161616;
$sub-card-color: #161616;

$login-header-height: 6rem;
$login-form-height: 50rem;
$login-form-width: 45rem;
$login-form-br: 1rem;